@model RescueBus.Models.Booking

@{
    ViewBag.Title = "Book";
}

<h2>Book</h2>

@using (Html.BeginForm("CreateBooking", "Home", FormMethod.Post ))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Booking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PickupTime, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PickupTime, new { @class = "form-control", type = "time" })
            @Html.ValidationMessageFor(model => model.PickupTime, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PickupAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PickupAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PickupAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <div class="checkbox">
                <input type="hidden" id="isSOS" name="isSOS" value="true" />
                <span class="text-danger" data-valmsg-for="isSOS" data-valmsg-replace="true"></span>
            </div>
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookingDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookingDate, new { @class = "form-control", type = "datetime-local" })
            @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        <label for="DriverID">Select Driver:</label>
        <select id="DriverID" name="DriverID" class="form-select">
            @foreach (var driver in ViewBag.drivers)
            {
                <option value="@driver.DriverID">@driver.FirstName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="VehicleID">Select Vehicle:</label>
        <select id="VehicleID" name="VehicleID" class="form-select">
            @foreach (var vehicle in ViewBag.Vehicles)
            {
                <option value="@vehicle.VehicleID">@vehicle.Type</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="VehicleID"></label>
    </div>



    <input type="hidden" class="form-control" id="ServiceID" name="ServiceID" value="@ViewBag.ServiceID">


    <div class="form-group">
        <label for="ReasonID">Select Driver:</label>
        <select id="ReasonID" name="ReasonID" class="form-select">
            @foreach (var reason in ViewBag.reasons)
            {
                <option value="@reason.ReasonID">@reason.Description</option>
            }
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PickupAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.PickupAddress, new { @class = "form-control", rows = 4 })
            @Html.ValidationMessageFor(model => model.PickupAddress, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}






