@model RescueBus.Models.Driver

@{
    ViewBag.Title = "Create Driver";
}

<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Create Driver</h2>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Driver", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mb-4">
                    <div class="col-md-12">
                        <h4 class="border-bottom pb-2">Driver Information</h4>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label required" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter first name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-label required" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter last name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-label required" })
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter phone number" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="ImageFile">Upload Image</label>
                            <input type="file" name="ImageFile" class="form-control" accept="image/*" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="ImageFile" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label required" for="ServiceID">Select Service</label>
                            <select id="ServiceID" name="ServiceID" class="form-select" asp-for="ServiceID">
                                @foreach (var service in ViewBag.Services)
                                {
                                    <option value="@service.ServiceID">@service.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Create Driver" class="btn btn-primary w-100" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .required:after {
        content: " *";
        color: red;
    }

    .card {
        margin-top: 20px;
        border: none;
        border-radius: 10px;
    }

    .card-header {
        border-radius: 10px 10px 0 0 !important;
    }

    .border-bottom {
        border-bottom: 2px solid #dee2e6 !important;
    }
</style>